<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        <h1>Maintenance ongoing</h1>
        <p>site is on maintenance</p>
    </body>
</html>